MONGO_URI=MONGO_URI=mongodb+srv://scrapadmin:yourSecurePassword123!@cluster0.mongodb.net/scrapapp?retryWrites=true&w=majority
JWT_SECRET=thisIsASecret
JWT_SECRET=your_jwt_secret
GMAIL_USER=rizwantech0509@gmail.com
GMAIL_PASS=aQdas@143q
TWILIO_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+91xxxxxxxxxx